.hidden {
  display: none;
}

.page-title {
  margin-top: 50px;
}

#credit-card-type {
  width: 2.5em;
  height: auto;
}

.expiration-splitter {
  margin-top: 8px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}